.w-fit {
    width: fit-content;
}

.h-fit {
    height: fit-content;
}

.def-btn {
    display: flex;
    justify-content: center;
}

.btn.btn-gradient {
    background: linear-gradient(to right, $primary, $secondary);
    color: white !important;
    padding: 0.75rem 1.5rem;
    border-radius: 10rem;
    font-weight: 700;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: 0.3s;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    transition: $transition-base;
    svg{
        transition: all 0.2s;
    }

    @include media-hover{
        scale: 1.05;
        svg{
            transform: scale(1.1) rotate(-15deg);
        }
    }
}

.primary-badge {
    border: $secondary 1px solid;
    border-radius: 10rem;
    width: fit-content;
    padding: 0.25rem 2rem !important;
}

.white-badge {
    border: white 1px solid;
    border-radius: 10rem;
    width: fit-content;
    padding: 0.25rem 2rem !important;
}