@use "sass:color";
@use "sass:math";
@use "sass:map";

@import "vendors/bootstrap/functions";
@import "vendors/bootstrap/mixins";

@import "abstracts";
@import "core";
@import "components";
@import "layout";
@import "pages";
@import "sections";
@import "libraries";
@import "utilities";
@import "pagination";

// NÃO remover linha abaixo \/
// #Imports

h3 {
    @include linear-rfs(24px, 36px, 375px, 1920px, "font-size");
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #0b0b0b;
}

::-webkit-scrollbar-thumb {
    background: $primary;
}

::-webkit-scrollbar-thumb:hover {
    background: lighten($primary, 10%);
}

.swiper-button-custom {
    &::after {
        content: none !important;
    }

    &.swiper-button-background {
        color: $white;
        width: max-content;
        height: max-content;
        padding: 0.5rem;
        border-radius: $border-radius-pill;
        box-shadow: 0 5px 15px rgba($black, 0.25);

        svg {
            width: 1rem;
            height: 1rem;
        }
    }
}

html {
    overflow-x: hidden;
}

.pe-lg-5 {
    @include media-breakpoint-up(lg) {
        padding-right: 5rem !important;
    }
}